* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, p {
	line-height: 1.2;
}


body input:focus:required:invalid,
body textarea:focus:required:invalid {
	// border-color: red;
	// color: red;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.arrow {
	&-left, &-right {
		display: inline-block;
		width: 13px;
		height: 23px;
	}

	&-left {
		background: url('../img/arrow-left.png')
	}

	&-right {
		background: url('../img/arrow-right.png')
	}
}

.button {
    display: inline-block;
    border: none;
    color: rgb(64, 64, 64);
    text-decoration: none;
    background-color: $accent;
    padding: 5px 20px;
    font-size: 14px;
    text-transform: uppercase;
	font-weight: bold;
	line-height: 1.2;
	outline: none;
	cursor: pointer;
    transition: background-color .1s ease;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
	
	&:focus, &:hover {
        text-decoration: none;
        color: rgb(64, 64, 64);
    }
    &:hover {
        background-color: darken($accent, 5%);
    }
    &:active {
        background-color: darken($accent, 5%);
    }
}

.flex {
	display: flex;

	div {
		margin-right: 11px;
	}
}

.card {
	position: relative;
	padding: 20px 30px;
	font-size: 15.41px;
	background-color: #ffffff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
	
	&.no-shadow {
		padding: 0;
		box-shadow: none;
	}

	&-title {
		text-align: center;
		font-size: 15.41px;
		font-weight: bold;
		line-height: 1.2;
		margin-bottom: 15px;
	}

	&.inverse {
		box-shadow: none;
		border: 4px solid rgba(64, 64, 64, 0.8);
		&:before {
			position: absolute;
			content: '';
			top: 20px;
			left: -4px;
			right: -4px;
			border: 4px solid rgba(0, 0, 0, 0.26);
			height: 100%;
			filter: blur(5px);
		}

	}

	.row {
		margin-left: -3px;
		margin-right: -3px;
	}

	[class^="col-"] {
		padding-left: 3px;
		padding-right: 3px;
	}

	.input, p {
		margin-bottom: 7px;
	}

	.button {
		width: 100%;
	}
}

.clear {
	clear: both;
}

.bold {
	font-weight: bold;
}

.more {
	position: relative;
	display: inline-block;
	font-family: "Lora", sans-serif;
	border: 1px solid #fff;
	height: 24px;
	line-height: 24px;
	text-transform: uppercase;
	color: #fff;
	padding: 0 40px 0 10px;
	cursor: pointer;

	font-size: 12px;
	font-weight: bold;
  
	&.inverse {
		color: rgb(64, 64, 64);
		border-color: rgb(64, 64, 64);
	}

	img {
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
		width: 21px;
		height: 16px;
	}
}

.error-message {
	color: red;
	position: relative;
	top: -6px;
	display: none;
}

.input, .textarea {
	font-size: 15.41px;
	font-family: "Lora";
	color: rgb(0, 0, 0);
	border: 1px solid #000;
	outline: 0;
	padding: 0px 10px;
	height: 26px;
	width: 100%;
	
	&:focus:required:invalid {
		border-color: red;
		color: red;

		&+span {
			display: block;
		}
	}
}

.textarea {
	height: 85px;
	resize: vertical;
	overflow: auto;
}

*::-webkit-input-placeholder {
	opacity: 1;
	text-transform: uppercase;
	font-size: 15.41px;
	font-family: "Lora";
}

*:-moz-placeholder {
	opacity: 1;
	text-transform: uppercase;
	font-size: 15.41px;
	font-family: "Lora";
}

*:-ms-input-placeholder {
	opacity: 1;
	font-size: 15.41px;
	font-family: "Lora";
}

.modal {
	position: fixed;
	z-index: 100;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	background-color: rgba(0, 0, 0, 0.4);

	&-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #fff;
		border-width: 4px;
		border-color: $accent;
		border-style: solid;
		box-shadow: 0px 13px 16px 0px rgba(0, 0, 0, 0.26);
		width: 922px;
		max-width: 100%;
		max-height: 100vh;
		overflow: auto;
		padding: 36px;	  
	}

	&-title {
		font-size: 13px;
		line-height: 1.2;
		text-align: center;
		font-weight: normal;	
		margin-bottom: 11px;  
	}

	&-close {
		position: absolute;
		cursor: pointer;
		top: 10px;
		right: 10px;
		width: 16px;
		height: 16px;
		background: url('../img/close.png');
		
		&.small {
			width: 9px;
			height: 9px;
			background: url('../img/close-small.png');
		}
	}
}

.modal {
	&-certificate {
		.modal-content {
			width: 95%;
			height: 385.6px;
		}
	}

	&-notice {
		.modal-content {
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
			width: 236px;
			padding: 25px 18px 20px;
			border: none;	

			.input, .button, .textarea {
				margin-bottom: 7px;
				width: 100%;
			}
		}
	}
}

.bold {
	font-weight: bold;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;

	&-check {
		li {
			position: relative;
			padding-left: 23px;
			line-height: 1.667;

			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 17px;
				height: 17px;
				content: '';
				background: url('../img/diagnostic-list.png');
			}
		}
	}

}

@mixin border($borderWidth) {
	position: relative;
	box-sizing: border-box;
	z-index: auto;
	border: $borderWidth solid $accent;
	
	&:before {
		position: absolute;
		z-index: -1;
		top: 15px;
		left: -$borderWidth;
		right: -$borderWidth;
		bottom: -(15 + 2*$borderWidth);
		content: '';
		filter: blur(5px);
		border: $borderWidth solid rgba(0,0,0,0.3);
	}
}

.border {
	@include border(7px);
}

.divider-h {
	flex-grow: 1;
}

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}