* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:before, &:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	margin: 0;
	padding: 0;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: #666;
}
body input:required:valid,
body textarea:required:valid {
	color: #666;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.button {
    display: inline-block;
    border: none;
    color: rgb(64, 64, 64);
    text-decoration: none;
    background-color: $accent;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
	font-weight: bold;
	line-height: 1.2;
	outline: none;
	cursor: pointer;
    transition: background-color .1s ease;

	&:focus, &:hover {
        text-decoration: none;
        color: rgb(64, 64, 64);
    }
    &:hover {
        background-color: darken($accent, 5%);
    }
    &:active {
        background-color: darken($accent, 5%);
    }
}
