@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {

	.section {
		&-main {
			background-size: cover;

			.card {
				width: 100%;
			}
		}

		&-garants {

			.list-garants {
				li:nth-child(2n) {
					margin-left: 150px;
				}
			}
		}
	}
}
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.section {
		&-garants {

			.list-garants {
				li:nth-child(2n) {
					margin-left: 0;
				}

				&-text {
					width: auto;
				}
			}
		}

		&-services-gallery-item {
			width: 33.3333333%;
		}

		&-doctors {
			.doctor {
				text-align: center;
				&-img {
					margin: 0 auto;
					float: none;
					margin-bottom: 20px;
				}

				&-content {
					margin-left: 0;
				}
			}
		}

		&-diagnostic {
			.border-apparat {
				&, &-2 {
					margin-top: 20px;
				}
			}
		}

		&-footer-item {
			margin-bottom: 15px;
		}
	}

	.carousel {
		&-results {
			.owl-nav {
				width: 394px;
				height: 243px;
				margin-left: -197px;
				margin-top: -121.5px;
			}
		}
	}

	.thanks {
		padding: 15px;

		&-content {
			margin-left: 0;
			margin: auto;
		}
	}
}
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.section {
		&-services-gallery-item {
			width: 50%;
		}

		&-header {
			&.ontop {
				top: 18px;
			}

			.header-nav {
				align-items: center;
				padding: 3px 0;
				text-align: left;
			}

			.header-menu {
				position: absolute;
				top: 100%;
				left: 15px;
				right: 15px;
				background: rgba(255,255, 255, 0.8);
				display: none;
				li {
					display: block;
					margin: 0 0 0 15px;

				}
			}
		}
	}

	.carousel {
		&-reviews-item-img {
			margin-right: 20px;
			margin-bottom: 10px;
		}

		&-results {
			padding: 40px;
			.owl-nav {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				margin-left: 0;
				margin-top: 0;
			}

			.owl-stage-outer {
				padding: 0;
			}

			.owl-item.active.scale {
				transform: scale(1);
			}
		}
	}
}
	/**/

@media only screen and (max-width : 650px) {
	
	.section-diagnostic .border-apparat-2 {
		img {
			width: 100%;
		}
	}

	.carousel-reviews {
		text-align: center;

		&-item-img {
			float: none;
			margin: 0 auto 20px;
		}
	}
	
	.modal {
		.service {
			display: block;

			&-image {
				width: 100%;
				text-align: center;

				&-title {
					margin-bottom: 20px;
				}
			}
		}
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 379px) {
	.section {
		&-garants {

			.list-garants {
				li {
					margin-bottom: 10px;
				}

				&-img, &-img-before {
					transform: scale(0.8);
					margin-right: 0;
				}
			}
		}

		&-services-gallery-item {
			width: 100%;
		}
	}

	.carousel {
		&-reviews {
			padding: 20px;
			.owl-nav { 
				display: none;
			}	
			.owl-dot:not(:last-child) {
				margin-right: 5px;
			}
		}

		&-results {
			padding: 0;
			.owl-nav {
				display: none;
			}
		}
	}
}
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}
	/**/

