@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-size: $default_font_size;
	font-family: $default-font;
	color: $default_text_color;
	overflow-x: hidden;
	opacity: 1;
}

.header {
	&-nav {
		display: flex;
	}

	&-menu {
		flex-grow: 1;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			margin-right: 15px;

			a {
				font-size: 14px;
				
				&, &:hover, &:visited, &:link {
					color: #000;
					text-decoration: none;
				}

				&:hover {
					padding: 3px 0;
					border-bottom: 2px solid $accent;
				}
			}
		}
	}
}

.section {
	padding: 25px 0;
	border: 1px solid #000;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;

	&-title {
		font-size: 23px;
		font-family: "Lora";
		margin: 70px 0 63px;
		color: $default_text_color;
		text-align: center;
		font-weight: bold;
		line-height: 1.2;
		text-shadow: 0px 22px 18px rgba(0, 0, 0, 0.16);	  
	}

	&-header {
		height: 38px;
		line-height: 38px;
		text-align: left;
	}

	&-main {
		background-color: rgb(182, 182, 182);

		&-nav {
			display: flex;

			.logo {
				width: 235px;
			}

			.contacts {
				flex-grow: 1;
				text-align: right;				
			}
		}
	}

	&-garants {
		.section-content {
			text-align: center;			
		}
	}

	&-results {
		.section-title {
			margin-bottom: 25px;
		}
	}

	&-services {
		text-align: center;

		&-text {
			margin-bottom: 70px;
		}

		&-gallery {
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			&-item {
				float: left;
				width: 25%;
				margin-bottom: 46px;

				&-img {
					position: relative;
					display: inline-block;
					background-color: rgb(227, 232, 226);
					background-size: cover;
					background-position: center;
					background-repeat: none;
					box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.17);
					width: 187px;
					height: 187px;
					margin-bottom: 48px;
					transition: transform 0.3s;

					&:hover {
						transform: scale(1.2, 1.2);
						.section-services-gallery-item-cover {
							display: flex;
						}
					}
				}

				&-title {
					font-size: 14px;
					color: rgb(64, 64, 64);
					font-weight: bold;
					text-transform: uppercase;
					line-height: 1.2;				  
					margin-bottom: 17px;
				}

				&-cover {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding-bottom: 20px;
					display: none;
					align-items: flex-end;
					justify-content: center;
					background-color: rgba(222, 255, 0, 0.8);
				}
			}
		}
	}

	&-reviews {
		padding-bottom: 80px;
	}

	&-doctors {
		.doctor {
			&-img {
				float: left;
				box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
				width: 185px;
			}

			&-content {
				margin-left: 205px;
			}

			&-title {
				font-size: 23px;
				font-weight: bold;				
			}

			&-position {
				font-size: 20px;
				font-weight: normal;
			}
		}
	}

	&-question {
		height: 100vh;
		
		.section-content {
			display: flex;
			align-items: center;
			height: 100%;
		}

		&-content {
			width: 100%;
		}

		&-title {
			font-size: 31.244px;
			text-transform: uppercase;
			font-weight: bold;
			text-shadow: 0px 22px 13px rgba(0, 0, 0, 0.16);	
			margin-bottom: 10px;
		}

		&-text {
			font-size: 20.216px;
			line-height: 1.2;
			text-shadow: 0px 22px 13px rgba(0, 0, 0, 0.16);			  
			margin-bottom: 10px;
		}
	}
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;

	&-garants {
		display: inline-block;

		li {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 32px;

			&:nth-child(2n) {
				margin-left: 298px;
			}

			p {
				text-align: left;
				width: 500px;
			}
		}

		&-img {
			position: relative;
			width: 131px;
			height: 125px;
			border: 9.839px solid $accent;
			text-align: center;
			line-height: 125px;
			margin-right: 32px;
			display: flex;

			img {
				margin: auto;
			}

			&-before {
				position: absolute;
				top: 30px;
				left: 0;
				content: '';
				width: 131px;
				height: 131px;
				filter: blur(6px);
				border: 9.839px solid rgba(0, 0, 0, 0.26);					
			}
		}

	}
}

.carousel {
	&-results {		
		z-index: 1;
		.owl {
			&-nav {
				position: absolute;
				border: 7px solid $accent;
				// width: 370px;
				// height: 280px;
				width: 494px;
				height: 305px;			  
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: initial;

				&:before {
					// content: '';
					// position: absolute;
					// height: 100%;
					// top: 20px;
					// left: -7px;
					// right: -7px;
					// border: 7px solid rgba(0, 0, 0, 1);
					// z-index: -1;

				}
			}

			&-prev, &-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&-prev {
				left: 10px;
			}
			
			&-next {
				right: 10px;
			}
 	
			&-dots {
				display: none;
			}
	
			&-stage-outer {
				padding-top: 100px;			
				padding-bottom: 100px;
			}
	
			&-item {
				transition: transform 0.5s ease-out;
				&.active.scale {
					transform: scale(1.25);
					z-index: 1;	
				}
			}
		}
	}

	&-reviews {
		border: 7px solid $accent;
		padding: 43px 75px;
		
		&-item {
		  
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			&-title {
				margin-bottom: 12px;
			}

			&-img {
				width: 315px;
				margin-right: 60px;
				float: left;
			}
		}

		.owl {
			&-stage-outer {
			}

			&-prev, &-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&-prev {
				left: 24px;
			}

			&-next {
				right: 24px;
			}

			&-dots {
				display: block;
				position: absolute;
				bottom: -45px;
				left: 50%;
				transform: translateX(-50%);
			}

			&-dot {
				display: inline-block;
				background-color: rgb(64, 64, 64);
				width: 10px;
				height: 10px;		
				margin-right: 10px;

				&.active {
					background-color: $accent;
				}
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}


@import "media"; // Всегда в конце
