@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	line-height: $default_line_height;
	font-size: $default_font_size;
	font-family: $default-font;
	color: $default_text_color;
	overflow-x: auto;
	opacity: 1;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #222;
	z-index: 100;
	display: none;

	.fa {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -38px;
		margin-left: -38px;
		color: #ffffff;
	}
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.header {	

	&-nav {
		display: flex;
		text-align: right;
		justify-content: flex-end;
	}

	&-menu {
		flex-grow: 0;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			margin-right: 33px;
			font-size: 14px;

			a {
				font-size: 14px;
				
				&, &:hover, &:visited, &:link {
					color: #000;
					text-decoration: none;
				}

				&:hover, &.active {
					padding: 3px 0;
					border-bottom: 2px solid $accent;
				}
			}
		}
	}
}

.section {
	padding: 44px 0 25px 0; //25px 0;
	// min-height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;


	&-title {
		font-size: 23px;
		font-family: "Lora";
		margin: 50px 0 63px;
		color: $default_text_color;
		text-align: center;
		font-weight: bold;
		word-wrap: break-word;
		line-height: 1.2;
		text-shadow: 0px 22px 18px rgba(0, 0, 0, 0.16);	  
	}

	&-header {
		position: fixed;
		z-index: 99;
		// top: 0px;
		left: 0;
		right: 0;
		min-height: 26px;
		padding: 10px 0;
		line-height: 26px;
		text-align: left;
		background-color: rgba(#b6b6b6, 0.3);

		&.ontop {
			top: 30px;
			background-color: transparent;
		}
	}

	&-main {
		background-color: #cfcfcf;
		background-size: contain;
		background-position: -70px 0;
		padding-top: 70px;

		.section-title {
			text-align: left;
			margin: 28px 0 36px;
		}		

		.card {
			width: 510px;			
		}

		&-nav {
			display: flex;
			margin-top: 11px;

			.logo {
				width: 167px;

				img {
					margin-bottom: 22px;
				}

				&-text {
					font-size: 12px;
				}
			}

			.contacts {
				flex-grow: 1;
				text-align: right;				
				color: $dark;
				font-weight: bold;
				font-size: 14px;

				&-title {
					margin-bottom: 10px;
				}
			}
		}

		.list-main {
			font-size: 16.358px;
			margin-bottom: 50px;
		}
	}

	&-garants {
		.section-content {
			text-align: center;			
		}
	}

	&-results {
		.section-title {
			margin-bottom: 25px;
		}
	}

	&-services {
		text-align: center;

		&-text {
			margin-bottom: 70px;
		}

		&-gallery {
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			&-item {
				float: left;
				width: 25%;
				margin-bottom: 46px;

				&-img {
					position: relative;
					display: inline-block;
					background-color: rgb(227, 232, 226);
					background-size: cover;
					background-position: center;
					background-repeat: none;
					box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.17);
					width: 187px;
					height: 187px;
					margin-bottom: 48px;
					transition: transform 0.3s;

					&:hover {
						transform: scale(1.2, 1.2);
						.section-services-gallery-item-cover {
							display: flex;
						}
					}
				}

				&-title {
					font-size: 14px;
					color: rgb(64, 64, 64);
					font-weight: bold;
					text-transform: uppercase;
					line-height: 1.2;				  
					margin-bottom: 17px;
					white-space: nowrap;
				}

				&-cover {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding-bottom: 20px;
					display: none;
					align-items: flex-end;
					justify-content: center;
					background-color: rgba(222, 255, 0, 0.8);
				}
			}
		}
	}

	&-diagnostic {
		padding-bottom: 40px;

		.section-content {
			margin-top: 67px;
		}

		.apparat-divider {
			height: 100px;
		}

		&-title {
			margin-bottom: 40px;
			font-size: 29.406px;
			font-weight: bold;
			line-height: 1.2;
			text-shadow: 0px 22px 13px rgba(0, 0, 0, 0.16);			

			span {
				display: block;
				font-size: 25.03px;
			}
		}

		&-apparat {
			font-size: 20px;
			font-weight: normal;
			margin-bottom: 14px;
		}

		.border {
			&-apparat {
				// width: 327px;
				padding: 30px;
				display: inline-block;
				max-width: 100%;
				// height: 288px;
				&-2 {
					position: relative;
					width: 376px;
					margin: 0 auto;
					max-width: 100%;
					height: 333px;
					z-index: auto;

					img {
						width: 597px;
						position: absolute;
						top: 50%;
						left: 50%;
						margin-top: 10px;
						z-index: -2;
						transform: translate(-50%, -50%);
					
					}	
				}			  
			}
		}

		&-test {
			font-size: 22px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 17px;
		}
	}

	&-reviews {
		padding-bottom: 100px;
	}

	&-doctors {
		padding-bottom: 33px;

		.doctor {
			margin-bottom: 58px;

			&-img {
				float: left;
				box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.16);
				width: 185px;
			}

			&-content {
				margin-left: 205px;
			}

			&-title {
				font-size: 23px;
				font-weight: bold;	
				margin-bottom: 22px;			
			}

			&-position {
				font-size: 20px;
				font-weight: normal;
				margin-bottom: 13px;
			}

			&-text {
				font-size: 14px;
				margin-bottom: 16px;

				&.short {
					max-height: 105px;
					overflow: hidden;
					text-overflow: ellipsis;	
				}
			}

			&-content {
				margin-bottom: 15px;
			}

			&-bold {
				font-size: 16px;
				font-weight: bold;
				margin-bottom: 8px;
			}
		}
	}

	&-question {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		padding-bottom: 0;
		
		.section-content {
			display: flex;
			flex-grow: 1;
			align-items: center;
			// height: calc(100% - 61px);
		}

		&-content {
			width: 100%;
		}

		&-box {
			// margin-left: 55px;							
		}

		&-title {
			font-size: 31.244px;
			text-transform: uppercase;
			font-weight: bold;
			text-shadow: 0px 22px 13px rgba(0, 0, 0, 0.16);	
			margin-bottom: 10px;
		}

		&-text {
			font-size: 20.216px;
			line-height: 1.2;
			text-shadow: 0px 22px 13px rgba(0, 0, 0, 0.16);			  
			margin-bottom: 10px;
		}
	}

	&-footer {
		padding: 10px 0;
		background-color: $dark;
		color: #ffffff !important;
		font-size: 13px;

		&-item {
			height: 65px;
		}

		.small {
			font-family: "Century Gothic";
			font-size: 10px;
			margin-bottom: 4px;
		}
	}
}

.list {

	&-garants {
		display: inline-block;

		li {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 32px;

			&:nth-child(2n) {
				margin-left: 298px;
			}
		}

		&-text {
			text-align: left;
			width: 500px;
		}

		&-img {
			position: relative;
			width: 131px;
			height: 125px;
			border: 9.839px solid $accent;
			text-align: center;
			line-height: 125px;
			margin-right: 32px;
			display: flex;
			flex-shrink: 0;

			img {
				margin: auto;
			}

			&-before {
				position: absolute;
				top: 30px;
				left: 0;
				content: '';
				width: 131px;
				height: 131px;
				filter: blur(6px);
				border: 9.839px solid rgba(0, 0, 0, 0.26);					
			}
		}

	}

	&-diagnostic {
		margin-bottom: 20px;

		li {
			font-size: 16px;
			line-height: 1.563;		
		}
	}
}

.carousel {
	&-results {		
		z-index: 1;
		margin-bottom: 34px;
		.owl {
			&-nav {
				position: absolute;
				// border: 7px solid $accent;
				// width: 370px;
				// height: 280px;
				width: 494px;
				height: 305px;			  
				margin-left: -247px;
				margin-top: -152.5px;
				top: 50%;
				left: 50%;
				// transform: translate(-50%, -50%);
				// z-index: initial;

				&:before {
					// content: '';
					// position: absolute;
					// height: 100%;
					// top: 20px;
					// left: -7px;
					// right: -7px;
					// border: 7px solid rgba(0, 0, 0, 1);
					// z-index: -1;

				}
			}

			&-prev, &-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&-prev {
				left: 10px;
			}
			
			&-next {
				right: 10px;
			}
 	
			&-dots {
				display: none;
			}
	
			&-stage-outer {
				padding-top: 100px;			
				padding-bottom: 100px;
			}
	
			&-item {
				transition: transform 0.5s ease-out;
				&.active.scale {
					transform: scale(1.7);
					z-index: 1;	
				}
			}
		}
	}

	&-reviews {
		position: relative;		
		padding: 43px 75px;
		
		&-item {
		  
			&:after {
				display: block;
				content: '';
				clear: both;
			}

			&-title {
				margin-bottom: 12px;
			}

			&-img {
				width: 315px;
				margin-right: 60px;
				margin-bottom: 40px;
				float: left;
			}
		}

		.owl {
			&-stage-outer {
			}

			&-prev, &-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			&-prev {
				left: 24px;
			}

			&-next {
				right: 24px;
			}

			&-dots {
				display: block;
				position: absolute;
				bottom: -60px;
				left: 50%;
				transform: translateX(-50%);
			}

			&-dot {
				display: inline-block;
				background-color: rgb(64, 64, 64);
				width: 10px;
				height: 10px;		
				margin-right: 10px;

				&.active {
					background-color: $accent;
				}
				
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	&-certificate {
		.owl-item {
			height: 75vh;
			img {
				width: auto;
				max-width: 100%;
				margin: 0 auto;
				max-height: 100%;
			}
		}

		&, &-mini {
			position: relative;		

			.owl {
				&-item {
					position: relative;
					// height: 278px;
					// border: 1px solid #ccc;
					cursor: pointer;

					&:after {
						display: none;
						font-family: 'fontawesome';
						// content: "\f010";
						font-size: 25px;
						position: absolute;
						top: 50%;
						left: 50%;
					}	

					&:hover {
						&:after {
							display: block;
						}
					}
				}

				&-prev, &-next {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				&-prev {
					left: -24px;
				}

				&-next {
					right: -24px;
				}

				&-dots {
					display: block;
					margin-top: 10px;
					text-align: center;
				}

				&-dot {
					display: inline-block;
					background-color: rgb(64, 64, 64);
					width: 10px;
					height: 10px;		
					margin-right: 10px;

					&.active {
						background-color: $accent;
					}
					
					&:last-child {
						margin-right: 0;
					}
				}
			}

		}

		&-mini {
			.owl-stage {
				// max-height: 250px;				
			}
			.owl-item {
				// max-height: 250px;
				border: 1px solid #ccc;

				&:after {
					content: "\f00e";
				}
			}
		}		
	}
}

.modal {
	.service {
		display: flex;

		&-image {
			width: 211px;
			margin-right: 22px;
			flex-shrink: 0;

			img {
				max-width: 100%;
				margin-bottom: 20px;
			}			

			&-title {
				text-align: center;
			}
		}

		&-image-title, &-title {
			font-size: 20px;
			font-weight: bold;
			line-height: 1.05;
			margin-bottom: 7px;
		}

		&-text {
			font-size: 14px;
			margin-bottom: 10px;
		}

		.bold {
			margin-bottom: 10px;
		}

		&-list {
			margin-bottom: 12px;
		}
	}	
}

.thanks {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(240, 241, 245);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: top right;
	display: none;
	align-items: center;

	&-content {
		margin-left: 134px;
	}

	&-title {
		font-size: 35px;
		font-weight: bold;	  
	}

	&-subtitle {
		font-size: 25px;
		font-weight: normal;
		margin-bottom: 35px;
	}

	&-text {
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 40px;
	}
}


@import "media"; // Всегда в конце
