@import "fonts";
@import "vars";
@import "base";

html, body {
	height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-size: $default_font_size;
	font-family: $default-font;
	color: $default_text_color;
	overflow-x: hidden;
	opacity: 1;
}

.header {
	&-nav {
		display: flex;
	}

	&-menu {
		flex-grow: 1;
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: inline-block;
			margin-right: 15px;

			a {
				font-size: 14px;
				
				&, &:hover, &:visited, &:link {
					color: #000;
					text-decoration: none;
				}

				&:hover {
					padding: 3px 0;
					border-bottom: 2px solid $accent;
				}
			}
		}
	}
}

.section {
	padding: 25px 0;
	border: 1px solid #000;

	&-title {
		font-size: 23px;
		font-family: "Lora";
		margin: 70px 0 63px;
		color: $default_text_color;
		text-align: center;
		font-weight: bold;
		line-height: 1.2;
		text-shadow: 0px 22px 18px rgba(0, 0, 0, 0.16);	  
	}

	&-header {
		height: 38px;
		line-height: 38px;
	}

	&-main {
		background-color: rgb(182, 182, 182);

		&-nav {
			display: flex;

			.logo {
				width: 235px;
			}

			.contacts {
				flex-grow: 1;
				text-align: right;				
			}
		}
	}

	&-garants {
		.section-content {
			text-align: center;			
		}
	}
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;

	&-garants {
		display: inline-block;

		li {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 32px;

			&:nth-child(2n) {
				margin-left: 298px;
			}

			p {
				text-align: left;
				width: 500px;
			}
		}

		&-img {
			position: relative;
			width: 131px;
			height: 125px;
			border: 9.839px solid $accent;
			text-align: center;
			line-height: 125px;
			margin-right: 32px;
			display: flex;

			img {
				margin: auto;
			}

			&-before {
				position: absolute;
				top: 30px;
				left: 0;
				content: '';
				width: 131px;
				height: 131px;
				filter: blur(6px);
				border: 9.839px solid rgba(0, 0, 0, 0.26);					
			}
		}

	}
}


@import "media"; // Всегда в конце
